.react-geocoder {
    display: inline-block;
    min-width: 300px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
}

.react-geocoder input {
    width: 100%;
    padding: 12px;
    border: 0;
    display: block;
    margin: 0;
    box-sizing: border-box;
}

.react-geocoder-results {
    width: 100%;
    position: absolute;
    z-index: 10;
    border-top: 1px solid #ccc;
    background: #fff;
}

.react-geocoder-item {
    padding: 8px;
    font-size: 0.9em;
}

.react-geocoder-item:hover,
.react-geocoder-item-selected {
    cursor: pointer;
    color: #333;
    background: #eee;
}
